@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-primary-dark: #059669;
  --color-primary-light: #d1fae5;
  --font-outfit: "Outfit", sans-serif;
}

@utility simple-card {
  @apply bg-white border border-slate-200 rounded-2xl p-4;
}

@utility simple-nav {
  @apply bg-white border-b border-slate-200;
}

@utility btn-pos {
  @apply active:scale-[0.98] transition-all flex items-center justify-center font-bold rounded-xl h-14 w-full text-base;
}

@utility btn-primary {
  @apply btn-pos bg-emerald-600 text-white;
}

@utility btn-secondary {
  @apply btn-pos bg-slate-100 text-slate-800 border border-slate-200;
}

@utility input-pos {
  @apply w-full h-14 bg-white rounded-xl px-4 border border-slate-300 text-base text-slate-900 outline-none focus:border-emerald-500 focus:ring-1 focus:ring-emerald-500 placeholder-slate-400;
}

@utility input-pos-icon {
  @apply absolute left-4 top-1/2 -translate-y-1/2 text-slate-400 group-focus-within:text-emerald-600 transition-colors pointer-events-none;
}

@layer base {
  body {
    @apply font-outfit bg-slate-50 text-slate-900 min-h-screen relative selection:bg-emerald-200 selection:text-emerald-900;
    -webkit-tap-highlight-color: transparent;
  }
  
  main {
    @apply pb-24;
  }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
